
@{
    ViewData["Title"] = "ReadSetting";
}

<h1>Read Setting Data</h1>
<div>@ViewBag.Ten</div>
<div>@ViewBag.Nam</div>
<div>@ViewBag.Config1</div>
<div>@ViewBag.Config2</div>
<div>@ViewBag.DB`</div>

